body {
    margin: 40px;
    background-color: #dcdcdc;
}

h1 {
    text-align: center;
    color: #ff0000;
}

.git-command {
    color: #ff0000;
    font-weight: 700;
    font-size: 20px;

}

.sample {
    display: flex;
    width: 30%;
    color: #ffffff;
    background-color: #696969;
    align-items: center;
    padding-left: 10px;
}